@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
    color: #ffffff;
}


.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.nav-left,
.nav-center,
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-center {
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;

}

.home:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.search {
    height: 5.5vh;
    width: 30vw;
    border-radius: 40px;
    background-color: #202020;
    border: none;
    padding-left: 25px;
    /* move placeholder text to the right */
    color: white;
}

.search input::placeholder {
    color: gray;
    font-size: 25px;

}

.search:hover {
    background-color: #363535;
}

.logo {
    height: 5.5vh;
    margin-left: 20px;

}

.home {
    height: 5.5vh;
}

.nav-right {
    margin-right: 10px
}

.signup {
    cursor: pointer;
    color: #b3b3b3;
    font-size: 14px;
}

.signup:hover {
    transform: scale(1.04);
    color: rgb(205, 196, 196);
}

.login {
    cursor: pointer;
    color: black;
    font-size: 14px;
    font-weight: 1000;
}

.nav-right button {
    border-style: none;
}

.login:hover {
    transform: scale(1.04);
}

.nav-right button {
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 15px;
}


/* Container Start */
.container {
    display: flex;
    height: 100vh;
    padding-left: 8px;
    padding-right: 8px;
    gap: 8px;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* in container left Block Start */

.left-block {
    background-color: #121212;
    width: 30vw;
    height: 100vh;
    border-radius: 10px;
    overflow: hidden;
    /* No scroll */
    position: sticky;
    /* optional, to stick while scrolling */
    top: 0;
    display: flex;
    /* Optional: manage internal layout */
    flex-direction: column;
}

.bl1-top {
    display: flex;
    justify-content: space-between;
    /* pushes items to left and right */
    align-items: center;
    /* centers vertically */
    height: 80px;
    /* or any height */
    padding: 0 20px;
}

.bl1-top h4 {
    font-size: 15px;
}

.bl1-top button {
    color: #989898;
    font-size: 28px;
    border-radius: 50px;
    margin-right: 10px;

    background-color: #121212;
    border-style: none;
}
.add-btn:hover{
    background-color: #1f1f1f;
    cursor: pointer;
}

.bl1-box1 {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 10px;
}

.bl1-box1 h5 {
    padding: 13px 0px;
}

.bl1-box1 button {
    padding: 7px 15px;
    border-radius: 20px;
    font-weight: bold;
}

.bl1-foot {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}

.bl1-foot h6 {
    font-weight: normal;
    margin: 0;
}

.bl1-foot h5 {
    font-weight: bold;
    grid-column: 1 / -1;
    /* makes it span full width (last row) */
    margin-top: 10px;
    font-size: 12px;
}

.lang {
    margin-left: 20px;
    display: flex;
    border: 1px solid #b3b3b3;
    border-radius: 15px;
    width: 105px;
    height: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.lang:hover {
    cursor: pointer;
}

.glob {
    width: 20px;
    text-align: center;
}

.eng-btn {
    padding: 5px 5px;
    background-color: #121212;
    border-style: none;
    color: white;
    font-size: 15px;
}




/* Right Block Start */
.right-block {
    background-color: #121212;
    width: 70vw;
    border-radius: 10px;
    max-height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    /* Only right side scrolls */
    
}

.bl2-top {
    margin-top: 20px;
    margin-left: 50px;
}

.first-line,
.second-line,
.third-line,
.four-line {
    display: flex;
    margin: 20px 40px;
}

.card {

    padding-bottom: 40px;
    padding-left: 18px;
    padding-top: 20px;
    border-radius: 20px;

}

.card img {
    border-radius: 10px;

}

.card:hover {
    cursor: pointer;
    background-color: #1f1f1f;

}

.first-line img,
.second-line img,
.third-line img,
.four-line img {
    width: 10vw;
}

.artist h4 {
    margin-left: 40px;
    padding-bottom: 5px;
}

.artist h6 {
    margin-left: 40px;
    padding-bottom: 5px;
}

.second-line img {
    border-radius: 100%;
    width: 10vw;
    margin: 20px 40px;
}

.artist {
    border-radius: 10px;
}

.artist:hover {
    cursor: pointer;
    background-color: #1f1f1f;

}

.bl2-foot {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    
}
.row li{
    list-style: none;
    padding: 10px;
}

.social{
    padding-top: 25px;
    padding-left: 100px;
}
.social img{
    width: 3vw;
    padding: 10px;
}



.copyright{
    padding-bottom: 150px;
    padding-top: 0px;
    padding-left: 50px;

}